 .navbar{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1fr;
}

.logo {
    display: inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-row: 1;
    grid-column: 1;
    font-size: 20px;
    padding-left: 3%;
}

.searchbar {
    grid-area: searchbar;
    display: inline-flex;
    grid-row: inherit;
    grid-column-start: 3;
    grid-column-end: 8;
}

#login {
    grid-area: login;
display: inline-flex;
grid-row: inherit;
grid-column: 9;
}

#signup {
    grid-area: signup;
display: inline-flex;
grid-row: inherit;
}
